<article class="wine">
<header>
<h2> <%= @wine.name %> </h2>
</header>
<p><label>Year:</label> <%= @wine.year %> </p>
<p><label>Winery:</label> <%= @wine.winery %> </p>
<p><label>Country:</label> <%= @wine.country %> </p>
<p><label>Varietal:</label> <%= @wine.varietal %> </p>
</article>
<%= link_to 'Back to All Wines List', wines_path %> OR | <%= link_to 'Edit Wine Info', edit_wine_path(@book) %>
